<!-- hero -->
<div id="a-hero">
  <img id="a-heroImg" src="/images/aboutHero.png" alt="">
</div>

<!-- section 1 (about us message)-->
<div id="a-section1">

  <h1 id="a-h1">About Us</h1>

  <p class="a-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p class="a-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <img id="a-sig" src="images/genericSignature.jpg" alt="signature">

</div>


<!-- section 3 (favorites)-->

<div class="a-section2">

  <!-- Using layout from shop page -->
  <div class="a-cust">
    <img class="a-image" src="/images/happy1.jpg" alt="Happy 1">
  </div>

  <div class="a-cust">
    <img class="a-image" src="/images/happy2.jpg" alt="Happy 2">
  </div>

</div>
