<!-- hero -->
<div id="a-hero">
  <img id="a-heroImg" src="/images/aboutHero.png" alt="">
</div>

<!-- section 1 (about us message)-->
<div id="a-section1">

  <h1 id="a-h1">About Us</h1>

  <p class="a-p">Green Thumb Nursery, located in central Westchester and serving the tri-state area, is a wholesale/retail lawn and garden center with a full line of horticultural and masonry products. Owned and operated by the Nolletti family for thirty years now, Gedney Farms Nursery has had a long history in its location. The first nursery on the site began operating in the late nineteenth century. Known as Bowman’s Nursery and Flower Shop, it sold horticultural products to the community through the mid-twentieth century.</p>

  <p class="a-p">Business operations transitioned to the Nolletti family by 1983. Since then the variety of floriculture and nursery offerings has expanded to meet the demands of the changing market. Gedney Farms Nursery prides itself in catering to the wholesale community of landscape contractors, architects and developers, along with performing custom retail operations and services for individuals and families.</p>

</div>


<!-- section 2 (images)-->

<div class="a-section2">

  <!-- Using layout from shop page -->
  <div class="a-cust1">
    <img class="a-image" src="/images/happy1.jpg" alt="Happy 1">
  </div>

  <div class="a-cust2">
    <img class="a-image" src="/images/happy2.jpg" alt="Happy 2">
  </div>

</div>
