<h1 id="contact">Contact Us</h1>
<img id="contactpic" src="/images/plantillustrationcontact.jpg" alt="plants">
<div class="location">
  <h2>Location</h2>
  <ul>

  </ul>
  <form class="" action="/contact_me_response" method="post">
    <input type="text" name="from" value="" placeholder="from">
    <input type="text" name="subject" value="" placeholder="subject">
    <textarea name="content" rows="8" cols="60" placeholder="email content"></textarea>
    <button class="cbutt" type="submit" name="button">submit</button>
  </form>
</div>
