<h1 id="contact">Contact Us</h1>
<img id="contactpic" src="/images/plantillustrationcontact.jpg" alt="plants">
<div class="" id="formCont">
  <form class="cform" action="/contact_me_response" method="post">
    <input class="cinput" type="text" name="from" value="" placeholder="from">
    <input class="cinput" type="text" name="subject" value="" placeholder="subject">
    <textarea name="content" rows="10" cols="50" placeholder="email content"></textarea>
    <button class="cbutt" type="submit" name="button">submit</button>
  </form>
</div>
