<!-- image carousel -->
<div id="h-carousel">

  <img id="hcarImg" src="">

</div>

<!-- section 1 (window image)-->
<div id="h-section1">
  <h1 id="h-h1">PLANT A SEED, WATCH IT GROW</h1>
  <a href="/shop"><img id="sillA" src="/images/windowSill.jpg" alt="window sill plants">
</div></a>

<!-- section 2 (articles) -->
<div id="h-articles">

  <!-- <h1>DIY AND GUIDES</h1> -->

  <div id="h-article1">
    <h3 id="h-h3"><a href="http://www.sunset.com/garden/landscaping-design/how-to-plant-vertical-garden-wall" target="_blank">How to plant a lush living wall</a></h3>

    <img src="/images/articleImg1.jpg" alt="wall garden">

    <p><span id="h-byLine">By Sharon Cohoon and Kathleen N. Brenzel &mdash;</span> You’ll need patience, time, and a frost-free climate to get this look.</p>

  </div>

  <div id="h-article2">

    <h3 id="h-h3"><a href="https://www.gardeningknowhow.com/special/urban/urban-gardening-ultimate-guide.htm" target="_blank">Urban Gardening: The Ultimate Guide</a></h3>

    <img src="/images/articleImg2.jpg" alt="urban garden">

    <p><span id="h-byLine">By Nikki Tilley &mdash;</span> In this Beginner’s Guide to Urban Gardening, you will find the basics of city gardening.</p>

  </div>

</div>

<!-- section 3 (favorites)-->
<div id="h-favorites">

  <h1 id="home-h1">SHOP FAVORITES</h1>

  <div class="h-favoritesContainer">

    <!-- Using layout from shop page -->
    <div class="h-splat">
      <a href="/shop"><img id="himageone" class="h-simage" src="/images/haworthia.jpg" alt="Haworthia"></a>
    </div>

    <div class="h-splat">
      <a href="/shop"><img id="himagetwo" class="h-simage" src="/images/dracaenatarzantree.jpg" alt="Dracaena Tarzan Tree"></a>
    </div>

    <div class="h-splat">
      <a href="/shop"><img id="himagethree"class="h-simage" src="/images/mickeymousecactus.jpg" alt="Mickey Mouse Cactus"></a>
    </div>

  </div>

</div>

<script type="text/javascript" src="carousel.js"></script>
