<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png">
    <script type="text/javascript" src="main.js"> </script>
    <title></title>
  </head>
  <header>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/shop">shop</a>
        <a href="/contact">contact</a>
    </nav>
  </header>
  <body>

    <%= yield %>

  </body>
</html>
