<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png">
    <script type="text/javascript" src="cookies.min.js"></script>
    <script src="https://use.fontawesome.com/8e9becf81d.js"></script>
    <title>Green Thumb Nursery</title>
  </head>

  <body>

    <header>


      <nav class="startnav" id="nav">

          <a href="/">home</a>

          <img class="leafIcon" src="images/leafIcon.png" alt="leaf">

          <a href="/about">about</a>

          <img class="leafIcon" src="images/leafIcon.png" alt="leaf">

          <a href="/shop">shop</a>

          <img class="leafIcon" src="images/leafIcon.png" alt="leaf">

          <a href="/contact">contact</a>

          <img class="leafIcon" src="images/leafIcon.png" alt="leaf">

          <a href="#"><i id="basket" class="fa fa-shopping-basket" aria-hidden="true"></i></a>

          <span id="cartnum"> </span>

      </nav>

      <div id="cartmodal">
        <button id="clearclose" type="button" name="button">X</button>
        <p id="itemnum"> </p>
        <button id="clearbutton" type="button" name="button">clear cart</button>
        <a id="checkout" href="https://www.paypal.com/us/home" target="blank">checkout</a>
      </div>

      <div id="cmodaloverlay">
        </div>


      <!-- logo -->
      <a href="/"><img id="logo" src="/images/GreenThumbNursery-logo.png" alt="logo"></a>


      <div id="followUs">

        <img src="images/socialMedia.png" alt="social media icons">

      </div>


    </header>


      <!-- contentContainer div holds page content -->
      <div id="contentContainer">


          <%= yield %> <!-- all variable page content goes here -->



      </div>   <!-- end of contentContainer div -->


      <footer>
            <!-- styled in css -->
      </footer>


      <!-- border div is outside the contentContainer div -->
      <!-- This is simply a div that contains border in CSS. Placed at bottom so it shows on top of the rest of body content. -->
      <div class="border">
        <!-- leave empty, styled in CSS -->
      </div>


    <script type="text/javascript" src="main.js"> </script>

  </body>
</html>
