<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
    <script type="text/javascript" src="main.js"> </script>
    <title></title>
  </head>
  <header>
    <nav>
      <ul>
        <li>home</li>
        <li>about</li>
        <li>shop</li>
        <li>contact</li>
      </ul>
    </nav>
  </header>
  <body>

    <%= yield %>

  </body>
</html>
