<h1 id="shop">Shop</h1>
<div class="sline">
  <div class="splat">
    <img id="simageone"class="simage" src="/images/birdofparadise.jpg" alt="Bird of Paradise Plant">
    <div class="splantname">
      Bird of Paradise
    </div>
  </div>
  <div class="splat">
    <img id="simagetwo" class="simage" src="/images/dracaenatarzantree.jpg" alt="Dracaena Tarzan Tree">
    <div class="splantname">
      Dracaena Tarzan Tree
    </div>
  </div>
  <div class="splat">
    <img id="simagethree"class="simage" src="/images/fiddleleaffig.jpg" alt="Fiddle Leaf Fig Tree">
    <div class="splantname">
      Fiddle Leaf Fig Tree
    </div>
  </div>
  </div>
  <div class="sline">
    <div class="splat">
      <img id="simagefour" class="simage" src="/images/haworthia.jpg" alt="Haworthia">
      <div class="splantname">
        Haworthia
      </div>
    </div>
    <div class="splat">
      <img id="simagefive" class="simage" src="/images/rhipsaliscasutha.jpg" alt="Rhipsalis Cassutha">
      <div class="splantname">
        Rhipsalis Cassutha
      </div>
    </div>
    <div class="splat">
      <img id="simagesix" class="simage" src="/images/calathealancifolia.jpg" alt="Calathea Lancifolia">
      <div class="splantname">
        Calathea Lancifolia
      </div>
    </div>
  </div>
  <div class="sline">
    <div class="splat">
      <img id="simageseven" class="simage" src="/images/philodendronprinceoforange.jpg" alt="Philodendron Prince of Orange">
      <div class="splantname">
        Philodendron Prince of Orange
      </div>
    </div>
    <div class="splat">
      <img id="simageeight" class="simage" src="/images/sansevieria.jpg" alt="Sansevieria">
      <div class="splantname">
        Sansevieria
      </div>
    </div>
    <div class="splat">
      <img id="simagenine" class="simage" src="/images/mickeymousecactus.jpg" alt="Mickey Mouse Cactus">
      <div class="splantname">
      Mickey Mouse Cactus
      </div>
    </div>
  </div>

  <div class="smodaloverlay">
  </div>

  <div id="smodalone" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/birdofparadise.jpg" alt="Bird of Paradise Plant">
    <p class="splanthead">Bird of Paradise</p>
    <p class="sprice">$100</p>
    <ul class="splantinfo">
      <li class="slist">54 inches tall</li>
      <li class="slist">Full Light</li>
      <li class="slist">Keep Moist</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodaltwo" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/dracaenatarzantree.jpg" alt="Dracaena Tarzan Tree">
    <p class="splanthead">Dracaena Tarzan Tree</p>
    <p class="sprice">$300</p>
    <ul class="splantinfo">
      <li class="slist">48-72 inches tall</li>
      <li class="slist">Medium Light</li>
      <li class="slist">Water once a week</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalthree" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/fiddleleaffig.jpg" alt="Fiddle Leaf Fig Tree">
    <p class="splanthead">Fiddle Leaf Fig Tree</p>
    <p class="sprice">$300</p>
    <ul class="splantinfo">
      <li class="slist">60-72 inches tall</li>
      <li class="slist">Bright Indirect Light</li>
      <li class="slist">Water once a week <br> or when the top inch of soil is dry</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalfour" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/haworthia.jpg" alt="Haworthia">
    <p class="splanthead">Haworthia</p>
    <p class="sprice">$30</p>
    <ul class="splantinfo">
      <li class="slist">6 inches tall</li>
      <li class="slist">Bright Indirect Light</li>
      <li class="slist">Water once a month</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalfive" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/rhipsaliscasutha.jpg" alt="Rhipsalis Cassutha">
    <p class="splanthead">Rhipsalis Cassutha</p>
    <p class="sprice">$35</p>
    <ul class="splantinfo">
      <li class="slist">12 inches tall</li>
      <li class="slist">Medium Light</li>
      <li class="slist">Allow soil to dry between <br> waterings</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalsix" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/calathealancifolia.jpg" alt="Calathea Lancifolia">
    <p class="splanthead">Calathea Lancifolia</p>
    <p class="sprice">$40</p>
    <ul class="splantinfo">
      <li class="slist">20-24 inches tall</li>
      <li class="slist">Bright Indirect Light</li>
      <li class="slist">Keep Moist</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalseven" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/philodendronprinceoforange.jpg" alt="Philodendron Prince of Orange">
    <p class="splanthead">Philodendron Prince of Orange</p>
    <p class="sprice">$35</p>
    <ul class="splantinfo">
      <li class="slist">10-12 inches tall</li>
      <li class="slist">Low Light</li>
      <li class="slist">Keep Moist</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodaleight" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/sansevieria.jpg" alt="Sansevieria">
    <p class="splanthead">Sansevieria</p>
    <p class="sprice">$20</p>
    <ul class="splantinfo">
      <li class="slist">12 inches tall</li>
      <li class="slist">Low to Medium Light</li>
      <li class="slist">Water only when soil is dry</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>

  <div id="smodalnine" class="smodal">
    <button class="sclosebutt" type="button" name="button">X</button>
    <img class="simagemodal" src="/images/mickeymousecactus.jpg" alt="Mickey Mouse Cactus">
    <p class="splanthead">Mickey Mouse Cactus</p>
    <p class="sprice">$20</p>
    <ul class="splantinfo">
      <li class="slist">6 inches tall</li>
      <li class="slist">Full Light</li>
      <li class="slist">Water once a month</li>
    </ul>
    <button class="scartbutt" type="button" name="button">add to cart</button>
  </div>
