/* This is our brand guide:
pastel: #03EBA6
off black: #2B2B2B
gray: #8F8F8F
headline font: font-family: 'Questrial', sans-serif;
body font: font-family: 'Lato', sans-serif;
*/

/*This section is the layout template CSS ----- DO NOT OVERWRITE -----*/
body {
  font-family: 'Lato', sans-serif;
}

.border {
  background-color: #03EBA6;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
}

#contentContainer {
  background-color: white;
  position: relative;
  margin: auto;
  top: 310px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 980px;
}

header {
  position: absolute;
  width: 100%;
}

#logo {
  position: absolute;
  margin: auto;
  top: 280px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
}

/*followUs div*/
#followUs {
  position: absolute;
  margin: 0px;
  top: 50px;
  left: 20px;
  width: 61px;
  height: 248px;
}

/* nav style*/
.startnav {
  position: absolute;
  background-color: white;
  top: 237px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}

nav .leafIcon {
  width: 15px;
  height: 15px;
}

#basket {
  font-size: 35px;

}

#basket:hover {
  color: #03EBA6;
}

#cartmodal {
  background-color: white;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 150;
  top: 100px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#itemnum {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

#clearbutton {
  font-size: 20px;
  background-color: #2B2B2B;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 40px auto auto auto;

}

#clearbutton:hover {
  background-color: #03EBA6;
}

#checkout {
  font-size: 30px;
  background-color: #2B2B2B;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 40px auto auto auto;
  text-decoration: none;

}

#checkout:hover {
  background-color: #03EBA6;
}

#clearclose {
  float: right;
  display: inline;
  border-style: none;
  font-size: 20px;
  background-color: white;
}

#clearclose:hover {
  color: #03EBA6;
}

#cmodaloverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.5);
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 100;
}

nav a {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 20px;
  color: #2B2B2B;
  text-decoration: none;

}

nav a:hover {
  text-decoration: underline;
  color: #03EBA6;
}

.fixnav {
  position: fixed;
  background-color: white;
  top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

/*footer style*/
footer {
  background-image: url("http://www.snazzyspace.com/wallpapers/7b7b7b_grey-polka-dots.png");
  position: relative;
  width: 112%;
  height: 225px;
  left: -10px;
  bottom: -130px;
}
/*this is the end of the layout template style*/


/*home page style*/
#h-carousel {
  width: 980;
  height: 400px;
}

#h-section1 {
  height: 300px;
}

#home-h1  {
  background-color: #03EBA6;
  position: relative;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: white;
}

#h-h1 {
  background-color: white;
  font-family: 'Questrial', sans-serif;
  color: #03EBA6;
  margin-bottom: 20px;
  text-align: center;
}

#sillA:hover {
  opacity: .7;
}

#h-articles {
  height: 355px;
  padding-top: 20px;
  padding-left: 0px;
}

#h-articles a {
  color: #2B2B2B;
  text-decoration: none;
}
#h-articles a:hover {
  color: #8F8F8F;
}

#h-article1 {
  border: 1px solid #a8a8a8;
  position: relative;
  float: left;
  margin-top: 30px;
  padding-left: 20px;
  width: 450px;
  height: 290px;
}

#h-article1 img {
  width: 400px;
  height: 150px;
}

#h-article2 {
  border: 1px solid #a8a8a8;
  position: relative;
  float: left;
  margin-top: 30px;
  padding-left: 20px;
  left: 35px;
  width: 450px;
  height: 290px;
}

#h-article2 h3 {
  left: 50px;
}

#h-article2 img {
  width: 400px;
  height: 150px;
}

#h-h3  {
  font-family: 'Questrial', sans-serif;
}

#h-byLine {
  color: #8F8F8F;
}

#h-favorites {
  margin: 0px;
}

#h-favorites h1 {
  margin-top: 10px;
}

.h-favoritesContainer {
  margin-top: 35px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-bottom: 280px;
}

/*using style from shop page for consistency*/
.h-simage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.h-simage:hover {
  border: 7px solid #03EBA6;
  width: 235px;
  height: 235px;
}

.h-splat {
  display: inline-block;
  width: 250px;
  margin: 30px;
}
/*end home page style*/


/*shop page*/
#shop {
  background-color: white;
  border-bottom: 1px solid #03EBA6;
  border-top: 1px solid #03EBA6;
  font-family: 'Questrial', sans-serif;
  color: #03EBA6;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.simage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.simage:hover {
  border: 7px solid #03EBA6;
  width: 337px;
  height: 337px;

}

.splantname {
  width: 350px;
  font-size: 25px;
  padding-top: 20px;
}

.sline {
  text-align: center;
  color: #8F8F8F;
}

.splat {
  display: inline-block;
  width: 350px;
  margin: 25px;
}

#sCactus {
  padding-bottom: 300px;
}

/*shop modal*/
.smodaloverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.5);
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 100;
}

.smodal {
  background-color: white;
  width: 900px;
  position: fixed;
  z-index: 200;
  top: 50px;
  background-color: white;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.simagemodal {
  width: 500px;
  float: left;
}

.splanthead {
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: #2B2B2B;
  text-align: center;
  margin-top: 60px;
}

.sprice {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #03EBA6;
  text-align: center;
}

.splantinfo {
  text-align: center;
  display: inline-block;
}

.slist {
  font-family: 'Lato', sans-serif;
  color: #8F8F8F;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  list-style-position:inside;
}

.sclosebutt {
  float: right;
  display: inline;
  border-style: none;
  font-size: 20px;
  background-color: white;
}

.sclosebutt:hover {
  color: #03EBA6;
}

.scartbutt {
  font-size: 20px;
  background-color: #2B2B2B;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 40px auto auto auto;

}

.scartbutt:hover {
  background-color: #03EBA6;
}

button:focus {
  outline: none;
}
/*end shop page style*/


/*contact page*/
#contact {
  background-color: white;
  border-bottom: 1px solid #03EBA6;
  border-top: 1px solid #03EBA6;
  font-family: 'Questrial', sans-serif;
  color: #03EBA6;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

#contactpic {
  width: 400px;
  float: right;
}

.cform {
  text-align: center;
  margin-bottom: 390px;
}

.cinput {
  border: 1px solid #8F8F8F;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 10px 10px 20px 10px;
  padding: 5px;
  width: 240px;
}

.cinput:focus {
    outline: none;
    border: 2px solid #2B2B2B;
}

textarea {
  border: 1px solid #8F8F8F;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 15px;
}

textarea:focus {
  outline: none;
  border: 2px solid #2B2B2B;
}

.cbutt {
  font-size: 20px;
  background-color: #2B2B2B;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 40px auto 40px auto;
}

.cbutt:hover {
  background-color: #03EBA6;
  color: #2B2B2B;
}

#formCont{
  position: relative;
  top: 40px;
}
/*end contact page style*/


/*about page style*/
#a-heroImg {
  width: 980;
  height: 400px;
}

#a-h1 {
  background-color: white;
  border-bottom: 1px solid #03EBA6;
  border-top: 1px solid #03EBA6;
  font-family: 'Questrial', sans-serif;
  color: #03EBA6;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.a-p {
  line-height: 30px;
}

.a-section2 {
  width: 980px;
  padding-bottom: 300px;
}

/*using style from shop page for consistency*/
.a-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.a-cust1 {
  display: inline-block;
  position: relative;
  left: 180px;
  width: 250px;
  margin: 30px;
}

.a-cust2 {
  display: inline-block;
  position: relative;
  left: 180px;
  width: 250px;
  margin: 30px;
}
/*end about page style*/
